.table {
    width: 50%;
    border-collapse: 0;
    border-spacing: 0;
    border: none;
}

table, th, td {
    border: 1px solid gray;
}

.sticky tr {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.footer {
    height: 0;
}

.upper-content {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    column-gap: 5px;
}