<h2>Employee List </h2>
<div class="upper-content">
    <a href="javascript:void()" (click)="onGenerate()">Generate Data</a> <input type="number" [(ngModel)]="totalData" placeholder="Total Data" (ngModelChange)="onGenerate()" />
</div>
<div #container>
    <table class="table" >
        <thead class="sticky">
            <tr>
                <th>#</th>
                <th>id</th>
                <th class="nowrap">Full Name</th>
                <th>Age</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <ng-container NgxTableVscroll 
                          [itemHeight]="112" 
                          [topHeight]="86" 
                          [footerHeight]="0" 
                          [totalItems]="data.length" 
                          [container]="container" 
                          [template]="row" 
                          [buffer]="4"
                          [data]="data"></ng-container>
        </tbody>
        <tfoot></tfoot>
    </table>
</div>

<ng-template #row let-data let-i="index" let-itemHeight="itemHeight">
    <tr style="height: 22px; background-color: white;">
        <td>{{i + 1}}</td>
        <td class="nowrap">{{data?.id}}</td>
        <td class="nowrap">{{data?.name}}</td>
        <td>{{data?.age}}</td>
        <td>{{data?.desc}}</td>
        <td>
            <div class="buttons">
                <button (click)="onEditRow(data)">Edit</button> <button (click)="onDeleteRow(i)">Delete</button>
            </div>
        </td>
    </tr>
</ng-template>
<div class="footer"></div>